body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(188, 217, 226);
    color: #333;
}

.main-content{
    flex-grow: 1;
    margin: 0 auto;
}

.mainTitle{
    text-align: center;
    font-size: 70px;
}


form {
    display: flex;
    justify-content: center;
    gap:15px;
    padding: 28px;
    background-color: #222;
    position: sticky;
    top: 0;
    z-index: 10;
}

#searchInput{
    font-size: 1rem;
    width: 300px;
    padding: 26px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fbfbfb;
}

#submitBtn,
#resetBtn {
    font-size: 1rem;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: lightblue;
    color: rgb(23, 57, 69);
}

#submitBtn:hover,
#resetBtn:hover {
    background-color: rgb(98, 179, 206);
}

.resultContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.resultContainer div{
    background-color: white;
    padding: 13px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.resultContainer img{
    max-width: 100%;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #333;
}

.movieTitle{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
}

.movieDate{
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 10px;
}

.movieOverview{
    font-size: 0.85rem;
    color: #444;
    line-height: 1.5;
    padding: 10px;
}


/* Responsive design */
@media (max-width: 1440px){
    .resultContainer {
    grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px){
    .resultContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 650px){
    .resultContainer {
        grid-template-columns: 1fr;
    }

    form{
        padding: 15px;
    }
}

@media (max-width: 350px) {
#searchInput,
#submitBtn,
#resetBtn {
    padding: 12px;
}
}