body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(188, 217, 226);
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}

.mainTitle{
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 45px;
    width: 350px;
    text-align: center;
    font-size: 70px;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 0px;
    text-underline-offset: 15px;
    transition: text-decoration-thickness 0.3s ease, text-underline-offset 0.3s ease;
}

.mainTitle:hover{
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}


form {
    display: flex;
    justify-content: center;
    gap:15px;
    padding: 28px;
    background-color: #222;
    position: sticky;
    top: 0;
    z-index: 10;
}

#searchInput{
    font-size: 1rem;
    width: 300px;
    padding: 26px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fbfbfb;
}

#submitBtn{
    font-size: 1rem;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: lightblue;
    color: rgb(23, 57, 69);
}

#submitBtn:hover{
    background-color: rgb(98, 179, 206);
}

.resultContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.resultContainer div{
    background-color: white;
    padding: 13px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 1.5s ease;
}

.resultContainer div:hover{
    transform: scale(1.03);
}

.resultContainer img{
    max-width: 100%;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #333;
    transition: transform 1.5s ease;
}

.resultContainer img:hover{
    transform: scale(1.02);
}

.movieTitle{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #8a8a8a;
}

.movieDate{
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 10px;
}

.movieOverview{
    font-size: 0.85rem;
    color: #444;
    line-height: 1.5;
    padding: 10px;
}

footer{
    padding: 15px;
    background-color: #222;
    color: white;
    font-size: 1rem;
    text-align: center;
}

/* Responsive design */
@media (max-width: 1440px){
    .resultContainer {
    grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px){
    .resultContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 650px){
    .resultContainer {
        grid-template-columns: 1fr;
    }

    form{
        padding: 15px;
    }
}

@media (max-width: 350px) {
#searchInput,
#submitBtn{
    padding: 12px;
}
}